{% extends 'base.html' %} {% block container %}
 <main class="container mt-3 pb-5">
    <div class="row mt-5">
      <div class="col-12 col-lg-4">
        <aside class="pt-3 pb-4 px-4 mb-5 card">
          <h1 class="h4 pt-2 pb-2">Моя компания</h1>
          <div class="nav flex-column nav-pills">
            <a class="nav-link active" href="{% url 'mycompany' action='edit' %}">1. Информация о&nbsp;компании</a>
            {% if user.company_set.count != 0 %}<a class="nav-link" href="{% url 'vacancy_list' %}">2. Вакансии</a>{% endif %}
          </div>
        </aside>
      </div>
      <div class="col-12 col-lg-8">
        <div class="card">
          <div class="card-body px-4 pb-4">
            <!-- Tab -->
            <section class="tab-pane fade show active">
              <h2 class="h4 pt-2 pb-3">Информация о&nbsp;компании</h2>
              {% if update %}<p class="alert alert-info" role="alert">Информация о компании обновлена</p>{% endif %}
              <form method="post" action="{% url 'mycompany' action='edit' %}" enctype="multipart/form-data">{%  load crispy_forms_tags %}{% csrf_token %}
                <div class="row">
                  <div class="col-12 col-md-6">
                    <div class="form-group pb-2">
                      <label class="mb-2 text-dark" for="companyName">Название компании</label>
                      {{ form.name|as_crispy_field }}
                    </div>
                  </div>
                  <div class="col-12 col-md-6">
                    <div class="form-group">
                      <label class="mb-2 text-dark" for="companyLogo">Логотип</label>
                      <div class="row align-items-center">
                        <div class="col-6">
                          <img src="{{ form.logo.value }}" alt="" id='logo' style="max-width: 120px;height: auto;">
                        </div>
                        <div class="col-6" style="position: relative;">
                          <div class="custom-file" style="">
                            {{ form.logo|as_crispy_field }}
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12 col-md-6">
                    <div class="form-group pb-2">
                      <label class="mb-2 text-dark" for="companyTeam">Количество человек в компании</label>
                      {{ form.employee_count|as_crispy_field }}
                    </div>
                  </div>
                  <div class="col-12 col-md-6">
                    <div class="form-group pb-2">
                      <label class="mb-2 text-dark" for="companyLocation">География</label>
                      {{ form.location|as_crispy_field }}
                    </div>
                  </div>
                </div>
                <div class="form-group pb-2">
                  <label class="mb-2 text-dark" for="companyInfo">Информация о&nbsp;компании</label>
                  {{ form.description|as_crispy_field }}
                </div>
                <div class="form-group">
                  <input type="submit" class="btn btn-info" value="Сохранить">
                </div>
              </form>
            </section>
            <!-- END Tab -->
          </div>
        </div>
      </div>
    </div>
  </main>
{% endblock %}