{% extends 'base.html' %} {% block container %}
  <main class="container mt-3">
    <div class="navbar mt-5">
      <p><a href="{{ request.META.HTTP_REFERER }}">Назад</a></p>
    </div>
    <section>
      <div class="text-center">
        <img src="{{ company.logo.url }}" width="130" height="80" alt="">
      </div>
      <h1 class="h1 text-center mx-auto mt-0 pt-1" style="font-size: 70px;"><strong>{{ company.name }}</strong></h1>{% with vacancies=company.vacancies.all %}
      <p class="text-center pt-1">Компания, {% include 'vacancy/vacancy_card.html' %}{% endwith %}
    </section>
  </main>
{% endblock %}