{% extends 'base.html' %} {% block container %}
  <main class="container mt-3 pb-5">
    <div class="row mt-5">
      <div class="col-12 col-lg-4">
        <aside class="pt-3 pb-4 px-4 mb-5 card">
          <h1 class="h4 pt-2 pb-2">Моя компания</h1>
          <div class="nav flex-column nav-pills">
            <a class="nav-link" href="#">1. Информация о&nbsp;компании</a>
            <a class="nav-link active" href="#">2. Вакансии</a>
          </div>
        </aside>
      </div>
      <div class="col-12 col-lg-8">
        <div class="card">
          <div class="card-body px-4 pb-4 tab-content">
            <!-- Tab -->
            <section>{%  load crispy_forms_tags %}
              <h2 class="h4 pt-2 pb-3">{{ vacancy.title }}</h2>
              <p class="alert alert-info" role="alert">Вакансия обновлена</p>
              <form method="post" action="{% url 'mycompany_vacancy_edit' %}">{% csrf_token %}
                <div class="row">
                  <div class="col-12 col-md-6">
                    <div class="form-group pb-2">
                      <label class="mb-2 text-dark" for="vacancyTitle">Название вакансии</label>
                      {{ form.title|as_crispy_field }}
                    </div>
                  </div>
                  <div class="col-12 col-md-6">
                    <div class="form-group pb-2">
                      <label class="mb-2 text-dark" for="userSpecialization">Специализация</label>
                      {{ form.specialty|as_crispy_field }}
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12 col-md-6">
                    <div class="form-group pb-2">
                      <label class="mb-2 text-dark" for="vacancySalaryMin">Зарплата от</label>
                      {{ form.salary_min|as_crispy_field }}
                    </div>
                  </div>
                  <div class="col-12 col-md-6">
                    <div class="form-group pb-2">
                      <label class="mb-2" for="vacancySalaryMax">Зарплата до</label>
                      {{ form.salary_max|as_crispy_field }}
                    </div>
                  </div>
                </div>
                <div class="form-group pb-2">
                  <label class="mb-2 text-dark" for="vacancySkills">Требуемые навыки</label>
                  {{ form.skills|as_crispy_field }}
                </div>
                <div class="form-group pb-2">
                  <label class="mb-2 text-dark" for="vacancyDescription">Описание вакансии</label>
                  {{ form.description|as_crispy_field }}
                </div>
                <div class="form-group">
                  <input type="submit" class="btn btn-info" value="Сохранить">
                </div>
              </form>
              <!-- END Vacancy info -->
              <!-- Applications -->
              <h2 class="h4 pt-2 pb-3">Отклики - 2</h2>
              <!-- Application 1 -->
              <div class="card mt-3">
                <div class="card-body px-4">
                  <p class="mb-1 font-weight-bold">Семёнов Зельфик Геннадиевич</p>
                  <p class="mb-2"><a href="tel:+79002842324" class="text-dark">+7 (900) 284-23-24</a></p>
                  <p class="mb-1">Я&nbsp;хотел&nbsp;бы работать в&nbsp;компании &laquo;АБВГД&raquo; программистом мобильных приложений. Мой опыт работы в&nbsp;программировании около 4&nbsp;лет (последние 1,5 года занимаюсь разработкой приложений.</p>
                </div>
              </div>
              <!-- END Application 1 -->
              <!-- Application 1 -->
              <div class="card mt-3">
                <div class="card-body px-4">
                  <p class="mb-1 font-weight-bold">Сорокина Акра Павловна</p>
                  <p class="mb-2"><a href="tel:+79002842324" class="text-dark">+7 (900) 284-23-24</a></p>
                  <p class="mb-1">Добрый день! Увидела объявление о&nbsp;вашей вакансии. Заранее благодарю Вас за&nbsp;уделенное моей кандидатуре время. С&nbsp;уважением.</p>
                </div>
              </div>
              <!-- END Application 1 -->
              <!-- END Applications -->
            </section>
            <!-- END Tab -->
          </div>
        </div>
      </div>
    </div>
  </main>
{% endblock %}