{% extends 'company-base.html' %} {% block content %}
            <section class="tab-pane fade show active">
              <h2 class="h4 pt-2 pb-3">Вакансии</h2>
              <!-- vacancy state 1 -->{% for vacancy in vacancies %}
              <div class="card mt-3">
                <div class="card-body px-4">
                  <div class="row align-items-center">
                    <div class="col-6 col-lg-9">
                      <a href="{% url 'vacancy' pk=vacancy.id %}" class="mb-1">{{ vacancy.title }}</a>
                      <p class="mb-1">
                        <span class="mr-4">{{ vacancy.salary_min }} - {{ vacancy.salary_max }}</span><a href="{% url 'mycompany_vacancy_edit' pk=vacancy.id %}#applications" class="text-info">{% if vacancy.applications.count == 0 %}Нет откликов{% elif vacancy.applications.count == 1 %}1 отклик{% elif vacancy.applications.count < 6 %}{{ vacancy.applications.count }} отклика{% else %}{{ vacancy.applications.count }} откликов{% endif %}</a>
                      </p>
                    </div>
                    <div class="col-6 col-lg-3 text-right">
                      <a href="{% url 'mycompany_vacancy_edit' pk=vacancy.id %}" class="btn btn-outline-info mb-2 btn-block">Изменить</a>
                        <form method="POST" action="{% url "mycompany_vacancy_delete" pk=vacancy.id %}">{% csrf_token %}<input type="submit" class="btn btn-outline-danger btn-block" onclick="return confirm('Вы действительно хотите удалить вакансию?');" value="Удалить"></form>
                    </div>
                  </div>
                </div>
              </div>{% endfor %}
              <!-- END vacancy state 1 -->
                 <!-- vacancy create -->
                <div class="card mt-3">
                <div class="card-body px-4">
                  <div class="row align-items-center">
                      <div class="col-md-12 text-center">
                          <a href="{% url 'mycompany_vacancy_create' %}" class="btn btn-outline-info">Создать вакансию</a>
                      </div>
                  </div>
                </div>
              </div>
                <!-- END vacancy create -->
            </section>
{% endblock %}