{% extends 'base.html' %} {% block container %}
<style>
    body {
      background-color: #F6F2E6;
    }
</style>

  <main class="container mt-3 pb-5">
    <section class="col-12 col-lg-6 offset-lg-3 mt-5 card">
      <div class="card-body px-3 pb-4">{%  load crispy_forms_tags %}
        <h1 class="h4 pt-2 pb-3">Мое резюме</h1>
        {% if update %}<p class="alert alert-info" role="alert">Ваше резюме обновлено!</p>{% endif %}
        <form method="post" action="{% url 'myresume' action='edit' %}" class="">{% csrf_token %}
          <div class="row">
            <div class="col-12 col-md-6">
              <div class="form-group pb-2">
                <label class="mb-2 text-dark" for="userReady">Готовность к работе</label>
                {{ form.status|as_crispy_field }}
              </div>
            </div>
            <div class="col-12 col-md-6">
              <div class="form-group pb-2">
                <label class="mb-2 text-dark" for="userPortfolio">Ожидаемое вознаграждение</label>
                {{ form.salary|as_crispy_field }}
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-md-6">
              <div class="form-group pb-2">
                <label class="mb-2 text-dark" for="userSpecialization">Специализация</label>
                {{ form.specialty|as_crispy_field }}
              </div>
            </div>
            <div class="col-12 col-md-6">
              <div class="form-group pb-2">
                <label class="mb-2 text-dark" for="userQualification">Квалификация</label>
                {{ form.grade|as_crispy_field }}
              </div>
            </div>
          </div>
          <div class="form-group pb-2">
            <label class="mb-2 text-dark" for="education">Образование</label>
            {{ form.education|as_crispy_field }}
          </div>
          <div class="form-group pb-2">
            <label class="mb-2 text-dark" for="userExperience">Опыт работы</label>
            {{ form.experience|as_crispy_field }}
          </div>
          <div class="form-group pb-2">
            <label class="mb-2 text-dark" for="userPhone">Номер телефона</label>
            {{ form.phone|as_crispy_field }}
          </div>
          <div class="form-group pb-3">
            <label class="mb-2 text-dark" for="userPortfolio">Ссылка на портфолио</label>
            {{ form.portfolio|as_crispy_field }}
          </div>
          <div class="form-group">
            <input type="submit" class="btn btn-info" value="Сохранить">
          </div>
        </form>
      </div>
    </section>
  </main>
{% endblock %}