{% extends 'base.html' %} {% block container %}
  <main class="container mt-3">
    <section>
      <h1 class="h1 text-center mx-auto mt-4 py-5"><strong>Вакансии для <br>Junior-разработчиков</strong></h1>
      <div class="row">
        {% include 'search_block.html' %}
          <p>Например: {% for example in examples %}
            <a href="{% url 'search_with_param' query=example %}" class="text-dark border-bottom border-dark m-1 text-decoration-none">{{ example }}</a>{% endfor %}
          </p>
        </div>
      </div>
    </section>

    <section class="mt-5 pt-3">
      <h2 class="h2 font-weight-normal text-center mb-5">Вакансии по рубрикам</h2>
      <div class="row mb-0">{% for specialty in specialties %}
        <div class="col-6 col-md-6 col-lg-3">
          <div class="card pt-4 text-center mb-4">
            <a href="{% url 'vacancies_by_category' specialty.code %}">
                <img class="mx-auto d-block" src="{{ specialty.picture.url }}" width="80" height="80" alt="">
            </a>
            <div class="card-body">
              <p class="card-text mb-2">{{ specialty.title }}</p>
              <p class="card-text"><a href="{% url 'vacancies_by_category' specialty.code %}">{{ specialty.vacancies_count }} ваканси{% if specialty.vacancies_count == 1 %}я{% else %}й{% endif %}</a></p>
            </div>
          </div>
        </div>{% endfor %}
        </div>
      </div>
    </section>
    {% include 'company_cards.html' %}
  </main>
{% endblock %}